{% extends "layout.njk" %}

       {% block head %} 
            <title>HomePage - Rocketseat </title>
            <link rel="stylesheet" href="/main.css">   
            <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
       {% endblock %}

        {% block content %}

        <main>      
            <h1>Rocketseat</h1>

           
            <img src="/img/rckt.jpg" alt=""> 

            <div id="resume">
                <p>Nós somos a Rocketseat, uma empresa localizada no sul do Brasil, em Santa Catarina. Voltada para o ensino de tecnologias para Dev's de qualquer nível. Mas além de ensinar, nós o preparamos para o mercado de trabalho, com todos os desafios e tecnologias do atual mercado através dos bootcamp's GoStack e LaunchBase.
                Abaixo algumas das tecnologias que ensinamos em nossos Bootcamp's.</p>
            </div>
            
            <ul>
                <li id="dashe">JavaScript</li> <li>-</li>
                <li id="dashe">HTML</li> <li>-</li>
                <li id="dashe">CSS</li> <li>-</li>
                <li id="dashe">NodeJS</li> <li>-</li>
                <li id="dashe">ReacT Native</li>
            </ul>

            <div class="menu-footer">
                <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
                <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
            </div>
        </main>
        {% endblock %}