{% extends "layout.njk" %}

       {% block head %} 
            <title>HomePage - Rocketseat </title>
            <link rel="stylesheet" href="/main.css">   
            <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
       {% endblock %}

        {% block content %}

        <main>      
            <h1>{{date.title}}</h1>

           
            <img src="{{date.image}}" alt="{{date.title}}"> 

            <div id="resume">
                <p>{{date.description}}</p>
            </div>
            
            <ul>
                {% for tech in date.techs %}
                    <li id="dashe">{{tech.name}}</li>
                {% endfor %}
            </ul>

            <div class="menu-footer">
                {% for net in date.network%}
                    <a href="{{net.link}}" target="_blank">{{net.name}}</a>
                {% endfor %}
            </div>
        </main>
        {% endblock %}