<!DOCTYPE html>
<html>
    <head>        
        {% block head %}
            <title>School at Home</title>
        {% endblock %}        
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Instrutores</a>
                <a href="studants">Membros</a>
            </div>
        </header>    

        {% block content %}{% endblock%}
    </body>
</html>