<!DOCTYPE html>
<html>
    <head>
    <title>Page Rocketseat</title>

    <link rel="stylesheet" href="/main.css">
    
    <link rel="shortcut icon" href="/img/rckt.jpg" type="image/x-icon">
    
    </head>
    <body>
        <header>
            <div class="menu">
                <a href="/">Sobre</a>
                <a href="courses">Conteúdos</a>
                <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
            </div>
        </header>
       
        <main>      
            <h1>Rocketseat</h1>

           
            <img src="/publics/img/rckt.jpg" alt=""> 

            <div id="resume">
                <p>Nós somos a Rocketseat, uma empresa localizada no sul do Brasil, em Santa Catarina. Voltada para o ensino de tecnologias para Dev's de qualquer nível. Mas além de ensinar, nós o preparamos para o mercado de trabalho, com todos os desafios e tecnologias do atual mercado através dos bootcamp's GoStack e LaunchBase.
                Abaixo algumas das tecnologias que ensinamos em nossos Bootcamp's.</p>
            </div>
            
            <ul>
                <li id="dashe">JavaScript</li> <li>-</li>
                <li id="dashe">HTML</li> <li>-</li>
                <li id="dashe">CSS</li> <li>-</li>
                <li id="dashe">NodeJS</li> <li>-</li>
                <li id="dashe">ReacT Native</li>
            </ul>

            <div class="menu-footer">
                <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
                <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
            </div>
        </main>


    </body>
</html>